*~
*swp
/*.csv
/.settings
/Kopie[!!-~]von[!!-~]build.xml
/build
config/behaviors/nao/BehaviorValues/UsedBehaviors/advertise.txt
config/motorMappings/*.csv
*.vpp~*
*.vux
jar/magmaKIJarGeneration.jardesc
/junit
/magmaKIJarGeneration.jardesc
/message.txt
/schedule.txt
srcAgent/Test.java
srcAgent/magma/agent/behavior/basic/Temp.java
util/excel/~$*.*

#Intelij

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/watcherTasks.xml
.idea/dictionaries
/buildDefault

test.xml
/result.properties
jar/build/
jar/out/
log/
*.TMP
*.java-*
/result.txt
\.DS_Store

\.idea/encodings\.xml
