*~
*swp
/*.csv
/.settings
/Kopie[!!-~]von[!!-~]build.xml
/build
config/behaviors/nao/BehaviorValues/UsedBehaviors/advertise.txt
config/motorMappings/*.csv
*.vpp~*
*.vux
jar/magmaKIJarGeneration.jardesc
/junit
/magmaKIJarGeneration.jardesc
/message.txt
/schedule.txt
util/excel/~$*.*

#Intelij

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/watcherTasks.xml
.idea/dictionaries
/buildDefault
.idea/**/uiDesigner.xml
.idea/libraries
.idea/artifacts
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/*.iml
.idea/modules
*.ipr

test.xml
/result.properties
jar/
log/
*.TMP
*.java-*
/result.txt
\.DS_Store

\.idea/encodings\.xml

target/
